/*header*/
#home{ 
    font-size: x-large;
    max-width: 100%;
	display: flex;
	justify-content: flex-start;
	margin: 2rem;
    text-decoration: none;
    color: white;
}

h2{
    margin-left: 10rem;
    margin-top: 3rem;
    font-size: 2.5rem;
    color: white;
}

/*body*/
body{
    background-image: url(../photos/neon.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
   }

#board{
    display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-right: 15%;
	margin-top: 5%;
	margin-left: 15%;
    margin-bottom: 10%;
	text-align: center;
}

.class{
	border-width: medium;
	width: 25%;
	margin: 2rem;
	padding: 7rem;
	background-color: #1d1c1c88;
}

.class i{
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

h3{
    color: white;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}

.class2{
    border-width: medium;
	width: 85%;
	margin: 2rem;
	padding: 4rem;
	background-color: #1d1c1c88;
}

.class2 i{
    font-size: 4rem;
    display: flex;
    justify-content: center;
}

#prices{
    display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

#part1{
    max-width: auto;
}

#part2{
    max-width: auto;
    font-size: 1.5rem;
    color: white;
}

#part3{
    max-width: auto;
    font-size: 1.5rem;
    color: white;
}
